:root{
    --black: rgba(49, 62, 53, 1);
    --back: rgba(226, 219, 213, 1);
    --black-span: rgba(0,0,0,1);
    --hover: rgba(142, 156, 139, 1);
}



.menu, .bonus, .order, footer{
    display: none;
}






/* ВЫПОЛЗАНИЕ COFFEE при прокрутке страницы (код к нему в main.js)  */
/* .main-word {
    position: relative;
    padding-left: 10px;
    position: absolute;
    top: 0; 
    left: 0;
} */
/* .hidden-word {
    text-decoration: overline;
    text-decoration-thickness: 1px;
    position: absolute;
    top: -2px; 
    left: 0;
    opacity: 0;
    transform: translateY(20px); 
    transition: opacity 1.2s ease, transform 1.2s ease;
} */

/* Шрифты по желанию Васи */
@font-face {
    font-family: 'Forma DJR';
    src: local('Forma DJR-Normal'),
    url('../fonts/forma-djr-cyrillic-text-3.woff2') format('woff2'),
    url('../fonts/forma-djr-cyrillic-text-3.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Forma DJR';
    src: local('Forma DJR-Bold'),
    url('../fonts/forma-djr-cyrillic-text-4.woff2') format('woff2'),
    url('../fonts/forma-djr-cyrillic-text-4.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Novelist';
    src: local('Novelist'),
    url('../fonts/Novelist.woff2') format('woff2'),
    url('../fonts/Novelist.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
html{   
    margin: 0 auto;
    scroll-behavior: smooth;       /*Плавная прокрутка*/
    box-sizing: border-box;
    font-size: 18px;
}
*, *:before, *:after{
    box-sizing: inherit;
} 
body{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    background-color: var(--back);
    font-family: 'Forma DJR';
    font-size: 24px;
    font-weight: 500;
    color: var(--black);
}
p,h1,h2,h3,span,ul,ol,li{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--black);
}

.container{
    max-width: 1150px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

/* TEXT STYLE */
.text-h1{
    font-size: 130px;
}
.text-h2{
    font-size: 128px;
    font-weight: 400;
}
.text-h3{
    font-size: 36px; 
    font-weight: 500;   
}
.text-p, .text-span{
    font-size: 22px;
}


/* HEADER UP*/
.header{
    position: relative;
    margin-bottom: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
} 
.header__up{  
    width: 100%;
    z-index: 20;
    background-color: rgba(226, 219, 213, 0.9);
    border-radius: 10px;
    max-width: 1280px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px 10px;
}

.header__up-logo{
    z-index: 10;
    position: relative;
    background-image: url(../img/Logo-try.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80px;
    width: 110px;
    /* font-family: 'Novelist';
    position: relative;
    top: -10px;
    font-size: 40px;
    color: var(--black); */
}

/* ВЫПОЛЗАНИЕ COFFEE АНИМАЦИЯ*/
/* .header__up-left-logo-hidden-word {
    position: absolute;
    left: -10px;
    opacity: 0;
    transform: translateY(20px);
    animation: slide-in 1.5s forwards;
    animation-delay: 0.5s;
    text-decoration: overline;
    text-decoration-thickness: 1px;
} */
@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateY(0);
    }
    to {
        opacity: 1;
        transform: translateY(32px);
    }
}

.header__up-menu-items{
    color: var(--black-span);
    display: flex;
    gap: 2vw;
    justify-content: center;
    align-items: center;
}
.header__up-left-menu-item{
    white-space: nowrap;
    transition: 0.3s;
}
.header__up-left-menu-item:hover{
    color: var(--hover);
}
.header__up-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3vw;
}
.header__up-right-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}
.header__up-right-contacts-numbers-up{
    white-space: nowrap;
    font-size: 14px;
    display: flex;
    flex-direction: column;
}
.header__up-right-contacts-numbers-up, .header__up-right-contacts-numbers-down > a{
    transition: 0.3s;
}
.header__up-right-contacts-numbers-up:hover, .header__up-right-contacts-numbers-down > a:hover{
    color: var(--hover);
    fill: var(--hover);
}
.header__up-right-contacts-numbers-down{
    text-align: center;
}
.header__up-right-contacts-time{
    font-size: 18px;
    max-width: 160px;
    width: 100%;
    text-align: center;
    align-items: center;
}

.header__up-right-href{
    white-space: nowrap;
    font-size: 30px;
    align-self: center;
    color: var(--black);
    padding: 10px 10px;
    transition: 0.3s;
    border-radius: 20px;
    border: 2px solid var(--black);
    text-align: center;
}
.header__up-right-href:hover{
    transform: scale(1.02);
    color: var(--hover);
    border: 2px solid var(--hover);
}



/* ВСТУПИТЕЛЬНОЕ ВИДЕО */
#background-video {
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 950px;
    z-index: -1;
    object-fit: cover;
}



/* ГАЛЕРЕЯ */
.off-before{
    display: none;
}


/* HEADER DOWN*/
.header__down {
    padding-top: 260px;
}
.header__down_text {
    display: flex;
    flex-direction: column;
}
.header__down_text-span.text-span {
    max-width: 250px;
    width: 100%;
    margin-bottom: 5px;
}
.header__down_text-h1 {
    margin-bottom: 20px;
}
.header__down_text-p {
    max-width: 650px;
    width: 100%;
    color: var(--red-gray);
}


/* ABOUT */
.about {
    padding-top: 100px;
    margin-bottom: 75px;
}
.about > .container{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-bottom: 50px;
}
.about__text{
    width: 500px;
}
.about__text:first-child{
    margin-bottom: 20px;
}
.about__h2 {
    position: relative;
    right: 150px;
    text-transform: uppercase;
    white-space: nowrap;
}

/* .about__row_right-cup {
    background-image: url(../img/background-2.png);
    border: 1px groove var(--red-gray);
    border-radius: 500px;   
} */

/* ABOUT-FLEX */
.about__flex {
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px 20px;
    border: 2px solid var(--black);
    border-radius: 30px;
    gap: 3vw;
}
.about__flex-item {
    position: relative;
    width: 200px;
}
.about__flex-item-bg, .about__flex-item-vector, .about__flex-item-circle, .about__flex-item-bg-2, .about__flex-item-circle-2, .about__flex-item-bg-3, .about__flex-item-bg-4{
    width: 72px;
    height: 78px;
    background-image: url(/img/icons__about/bean-icon.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 100px;
    right: 0;
    margin: auto;
    z-index: 1;
}
.about__flex-item-circle{
    background-image: url(/img/icons__about/Circle-icon.png);
    width: 150px;
    height: 150px;
    bottom: 100px;
    z-index: 5;
}
.about__flex-item-vector{
    background-image: url(/img/icons__about/vector-bean.png);
    z-index: 2;
    width: 50px;
}
.about__flex-item-bg-2{
    background-image: url(../img/icons__about/bonus-icon.png);
    width: 78px;
}
.about__flex-item-circle-2{
    width: 25px;
    height: 50px;
    background-image: url(../img/icons__about/vector-bonus.png);
}
.about__flex-item-bg-3{
    background-image: url(../img/icons__about/Syrop-icon.png);
    width: 40px;
    height: 100px;
}
.about__flex-item-bg-4{
    background-image: url(../img/icons__about/Coffee-icon.png);
    width: 70px;
    height: 90px;
}
.about__flex-item-h3 {
    padding-top: 200px;
    position: relative;
    z-index: 3;
}
.about__flex-item-span {
    position: relative;
    z-index: 3;
}




/* MENU */
.menu {
    padding-top: 75px;
    margin-bottom: 100px;
}
.menu__header {
    padding-top: 20px;
    margin-bottom: 35px;
}
.menu__header_text {
    margin: 0 auto;
    text-align: center;
}
.menu__header_row {
    margin: 0 50px;
    display: flex;
    justify-content: space-between;
}
.menu__header_row:last-child {
    margin-bottom: 20px;
}
.menu__header_row-item {
    text-transform: uppercase;
    /* margin-bottom: 20px; */
    text-align: center;
    /* text-decoration: underline var(--accent-1) 5px;
    text-underline-offset: 10px; */
}
.menu__center.col-12{
    max-width: 800px;
    margin: 0 auto;
    background-image: url(../img/background-2.png); 
    border: 1px groove var(--red-gray);
    border-radius: 50px; 
}



/* BONUS */
.bonus {   
    padding-top: 50px; 
    margin-bottom: 150px;
}
.bonus__header {

}
.bonus__header_h2 {
    margin: 0 auto 5px;
}
.bonus__header_span {
    color: var(--accent-1);
    margin: 0 auto 40px;
}
.bonus__cards { 

}
.bonus__cards_item.col-4 {
    color: var(--white);
    padding-left: 10px;
    border: 3px solid var(--red-gray);
    border-radius: 30px;
    width: 495px;
    height: 420px;
    background-image: url(../img/bonus/8-march.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.bonus__cards_item-h3 {
    margin-top: 5px;
    background-color: rgba(245, 161, 161, 0.8);
    border: 2px solid var(--red-gray);
    border-radius: 10px;
    padding: 0 5px;
    text-align: center;
    margin-bottom: 10px;
}
.bonus__cards_item-span {
    display: inline-block;
    max-width: 320px;
    margin-bottom: 120px;

}
.bonus__cards_item-span-bottom {
    display: inline-block;
    max-width: 350px;
    margin-bottom: 10px;
}
.bonus__cards_item-span-href.button{
    margin: 0 auto;
    max-width: 200px;
    text-align: center;
    display: block;
    background-color: rgba(245, 161, 161, 0.8);
    border: 2px solid var(--red-gray);
    border-radius: 10px;
    padding: 0 5px;
    transition: 0.5s;
}


.bonus__cards_item-span-href.button:hover{
    cursor: pointer;
    transform: scale(1.1);
    background-color: transparent;
    background-color: rgba(245, 161, 161, 0.8);
}
strong{
    color: rgb(254, 216, 0);
}
.bonus__cards_item-span-href.button.text-span > a{
    color: var(--white);
}

/* GALLERY */
.gallery {

}
.gallery__cards {

}
.gallery__cards_item {
    background-size: contain;
    height: 20vh;
    background-image: url(../img/Joke/Vasabi.jpg);
    background-repeat: no-repeat;

}
.item-1 {
}
.item-2 {
}
.item-3 {
}
.item-4 {
}
.item-5 {
}
.item-6 {
}
.item-7 {
}
.item-8 {
}

/* ORDER */
.order>.container {
    padding: 40px 10px;
    max-width: 900px;
    background-image: url(../img/background-2.png); 
    border: 1px groove var(--red-gray);
    border-radius: 50px; 
    margin-bottom: 120px;
}
.order__row {
    
}
.order__row-header {
    text-align: center;
    margin: 0 auto 5px;;
}
.order__row-text {
    max-width: 750px;
    text-align: center;
    margin: 0 auto 20px;
    color: var(--accent-1);
}
.order__row_left {
    width: 100%;
    justify-content: center;
    color: var(--red-gray);
    padding-top: 30px;
    margin-bottom: 40px;
}
.order__row_left-number {
    color: var(--red-gray);
}
.order__row_center{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    gap: 50px;
    margin-bottom: 40px;
}
.order__row_center-telegram {
    width: 72px;
    height: 72px;
    background-image: url(../img/nets/telegram.png);
    background-size: cover;
    transition: 0.5s;
}
.order__row_center-whatsapp {
    background-image: url(../img/nets/whatsapp.png);
    background-size: cover;
    width: 72px;
    height: 72px;
    transition: 0.5s;
}
.order__row_center-whatsapp:hover, .order__row_center-telegram:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.order__row_map{
    align-self: center;
    border: 1px solid var(--red-gray);
    background-image: url(../img/background-2.png);
    width: auto;
}


/* FOOTER */
.footer {
    background-image: url(../img/background-2.png); 
    border-radius: 10px;
}
.footer__row{
    text-align: center;
    align-items: center;
    justify-content: center;
    /* height: 180px; */
    background-color: rgba(206, 173, 173, 0.2);
    border-radius: 10px;
}
.footer__row_logo.text-h2 {
    display: inline-block;
    color: var(--accent-1);
}
.footer__row_adress {
    display: block;
}
.footer__row_contacts-date{
    display: flex;  
    gap: 20px;
    justify-content: center;
}
.footer__row_contacts {
    display: block;
    font-size: 20px;
    color: var(--accent-1);
}
.footer__row_text {
    display: block;
    font-size: 48px;
}

.footer__text-span, .footer__text-span>a{
    color: var(--red-gray);
}


/* .btn {
    display: inline-block;
    margin: 20px;
    padding: 10px 20px;
    background-color: transparent;
    color: var(--hover);
    cursor: pointer;
    border: 2px solid var(--black);
    border-radius: 5px;
}

.hidden-block {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, padding 0.5s ease;
    padding: 0 20px;
    border: 1px solid #ccc;
}

input#toggle:checked + .hidden-block {
    overflow:auto;  Полоса прокрутки
    max-height: 100px; Увеличьте или уменьшите под свои нужды
    padding: 20px;
}

.card {
    border: 1px solid #ccc;
    padding: 20px;
    width: 200px;
    text-align: center;
}
.hidden-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
} */



.header__up-burger-menu {
    display: none;
    position: relative;
}

.burger-label {
    cursor: pointer;
    display: inline-block;
    padding: 10px;
}

.line {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
    transition: 0.3s;
}

.menu {
    display: none;
    background-color: rgba(226, 219, 213, 0.9);
    position: absolute;
    top: 60px;
    border: 1px solid var(--black);
    border-radius: 10px;
    padding: 0;
    margin: 0;
}

.header__up-left-menu.on {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 20px 10px;
    margin: 0;
}

.menu li {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.menu li a {
    text-decoration: none;
    color: #333;
}

#burger-toggle:checked + .burger-label .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

#burger-toggle:checked + .burger-label .line:nth-child(2) {
    opacity: 0;
}

#burger-toggle:checked + .burger-label .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

#burger-toggle:checked ~ .menu {
    display: block;
}